* {
    --nav-height: 3em;
    --light-black: #202020;
    --yt-black: #121212;
    --yt-bg-black: #181818;
    --yt-grey: #323232;
}

body {
    margin: 0;
    padding: 0;
}

nav {
    height: var(--nav-height);
    background-color: var(--light-black);
    display: grid;
    place-content: center;
    grid-auto-flow: column;
    gap: 0.5em;
    overflow: hidden;
}

#nav-content svg {
    height: calc(var(--nav-height) - 1em) !important;
}

#cerca-nav-yt {
    border: 2px solid var(--yt-grey);
    border-radius: 0.2em;
}